.bold { font-weight: bold;}
.pad0{padding:0px !important;}
.pad05{padding:5px;}
.pad1{padding:10px;}
.pad2{padding:20px;}
.pad3{padding:30px;}
.pad4{padding:40px;}
.pad5{padding:50px;}
.pad6{padding:60px;}
@media(max-width: 768px){
	.xs-pad0{
		padding: 0 !important;
	}
    .xs-100{
        width: 100% !important;
    }
}
.marg0{margin:0px !important;}
.marg05{margin:5px;}
.marg1{margin:10px;}
.marg2{margin:20px;}
.marg3{margin:30px;}
.marg4{margin:40px;}
.marg5{margin:50px;}
.marg6{margin:60px;}
.up03{margin:3px 0 0 0;}
.up04{margin:4px 0 0 0;}
.up05{margin:5px 0 0 0;}
.up16{margin:16px 0 0 0;}
.up15{margin:15px 0 0 0;}
.up14{margin:14px 0 0 0;}
.up13{margin:13px 0 0 0;}
.up12{margin:12px 0 0 0;}
.up1{ margin:10px 0 0 0;}
.up2{ margin:20px 0 0 0;}
.up3{ margin:30px 0 0 0;}
.up4{ margin:40px 0 0 0;}
.up5{ margin:50px 0 0 0;}
.up6{ margin:60px 0 0 0;}
.up7{ margin:70px 0 0 0;}
.up8{ margin:80px 0 0 0;}
.up100{ margin:100px 0 0 0;}
.down03{margin: 0 0 3px 0;}
.down04{margin: 0 0 4px 0;}
.down05{margin: 0 0 5px 0;}
.down06{margin: 0 0 6px 0;}
.down1{margin: 0 0 10px 0;}
.down2{margin: 0 0 20px 0;}
.down3{margin: 0 0 30px 0;}
.down4{margin: 0 0 40px 0;}
.down5{margin: 0 0 50px 0;}
.down6{margin: 0 0 60px 0;}
.disable-state{
     pointer-events: none !important;
    cursor: not-allowed !important;
    filter: alpha(opacity=65) !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    opacity: .65 !important;
}
@media (max-width: 768px){
    .form-label{
        text-align: left;
    }
}
@media (min-width: 769px){
    .form-label{
        text-align: right;
    }
}